<h1>WiFi QR Code Generator App</h1>

<form (submit)="makeCode()">
    <label>
        SSID:
        <input type="text" [(ngModel)]="ssid" name="ssid">
    </label>
    <br>
    <label>
        Password:
        <input type="password" [(ngModel)]="password" name="password">
    </label>
    <br>
    <label>
        Authentication Type:
        <select [(ngModel)]="auth" name="auth">
            <option value="nopass">No Password</option>
            <option value="WEP">WEP</option>
            <option value="WPA">WPA/WPA2</option>
        </select>
    </label>
    <br>
    <button type="submit">Generate QR Code</button>
</form>
<ngx-qrcode [value]="wifiString" class="bshadow"></ngx-qrcode>